<div class="col-md-12">
  <p class="lead">
    <strong>Bienvenue !</strong> Vous pouvez personnaliser les données de vos
    commandes via cette page.
  </p>
</div>

<div class="col-md-4">
  <div class="item">
    Beurres
    <div id="butters" data-max="<%= current_user.cart.nb_butters %>" class="counter"></div>
  </div>
</div>

<div class="col-md-4">
  <div class="item">
    <div id="cheeses" data-max="<%= current_user.cart.nb_cheeses %>"
      class="counter"></div>
    Fromages frais
  </div>
</div>

<div class="col-md-4">
  <div class="item">
    Yaourts
    <div id="yaourts" data-max="<%= current_user.nb_yaourts %>" class="counter"></div>
  </div>
</div>

<div class="clearfix"></div><br>

<% if current_user.errors.any? %>
  <div class="alert alert-danger">
    <p>Erreur(s) lors de la sauvegarde de votre commande :</p>

    <p>
      <ul>
        <% current_user.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </p>
  </div>
<% end %>

<%= form_with(url: '/', local: true, class: 'form') do |f| %>
  <div class="col-md-6">
    <h3>Beurres</h3>

    <table class="table">
      <% butters.each do |butter| %>
        <%= commodity_field(butter, :butters) %>
      <% end %>
    </table>

    <h3>Fromages frais</h3>

    <table class="table">
      <% @cheeses.each do |cheese| %>
        <%= commodity_field(cheese, :cheeses) %>
      <% end %>
    </table>
  </div>

  <div class="col-md-6">
    <h3>Yaourts disponibles</h3>

    <table class="table">
      <% @yaourts.each do |yaourt| %>
        <%= commodity_field(yaourt, :yaourts) %>
      <% end %>
    </table>
  </div>

  <%= f.submit "Enregistrer votre commande", class: 'btn btn-primary' %>
<% end %>

<p class="clearfix"></p>
<hr>
