<div class="alert alert-info">
  <p>
    <strong>Bienvenue !</strong> Vous pouvez personnaliser les données de vos
    commandes via cette page.
  </p>
</div>

<% if @shipment.errors.any? %>
  <div class="alert alert-danger">
    <p>Erreur(s) lors de la sauvegarde de votre commande :</p>

    <p>
      <ul>
        <% @shipment.errors.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </p>
  </div>
<% end %>

<%= form_with(url: '/', local: true, class: 'form') do |f| %>
  <div class="col-md-6">
    <h3>Votre commande hebdomadaire</h3>

    <p>
      <em>Choisissez le ou les beurres que vous souhaitez ajouter à votre panier.</em>
    </p>

    <% butters.each do |butter| %>
      <div class="checkbox">
        <label>
          <%= butter_check_box(butter, @shipment) %>
          <%= butter.first %>
        </label>
      </div>
    <% end %>
  </div>

  <div class="col-md-6">
    <p class="lead">
      Vous pouvez répartir votre commande comme vous le souhaitez. Vous disposez
      encore des points suivants :

      <ul class="list-group">
        <li class="list-group-item">
          <span id="butters" data-max="<%= current_user.cart.nb_butters %>" class="badge"></span>
          Beurres
        </li>

        <li class="list-group-item">
          <span id="cheeses" data-max="<%= current_user.cart.nb_cheeses %>"
            class="badge"></span>
          Fromages frais
        </li>

        <li class="list-group-item">
          <span id="yaourts" data-max="<%= current_user.nb_yaourts %>" class="badge"></span>
          Yaourts
        </li>
      </ul>
    </p>
  </div>

  <div class="clearfix"></div>

  <div class="col-md-6">
    <h4>Fromages frais</h4>

    <table class="table">
      <% @cheeses.each do |cheese| %>
        <%= cheese.field(@shipment) %>
      <% end %>
    </table>
  </div>

  <div class="col-md-6">
    <h4>Yaourts disponibles</h4>

    <table class="table">
      <% @yaourts.each do |yaourt| %>
        <%= yaourt.field(@shipment) %>
      <% end %>
    </table>
  </div>

  <%= f.submit "Enregistrer votre commande", class: 'btn btn-primary' %>
<% end %>

<p class="clearfix"></p>
<hr>
