<!DOCTYPE html>
<html>
  <head>
    <title>Ferme de la Boucaulde</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Ferme de la Boucaulde</a>

        <% if user_signed_in? %>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user.admin? %>
              <li><%= link_to "Administration", admin_root_path %></li>
            <% end %>
            <li>
              <%= link_to "Déconnexion", destroy_user_session_path, method: :delete %>
            </li>
          </div>
        <% end %>
      </div>
    </nav>

    <div class="container main">
      <% if notice %>
        <div class="alert alert-success">
          <%= notice %>
        </div>
      <% end %>

      <% if alert %>
        <div class="alert alert-danger">
          <%= alert %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
